@use "sass:map";
@use '../../styles/variables.module.scss' as variables;

.pnlContainer {
  margin: variables.spacing(md) 0;
  padding: variables.spacing(md);
  background-color: variables.bg-color(light);
  border-radius: map.get(variables.$border-radius, sm);
  border: 1px solid variables.color(border);
  width: 100%;
  box-sizing: border-box;

  @include variables.responsive(md) {
    padding: variables.spacing(lg);
  }

  .controlsHeader {
    display: flex;
    justify-content: flex-end;
    margin-bottom: variables.spacing(md);
  }

  .cardRow {
    display: grid;
    grid-template-columns: 1fr;
    
    @include variables.responsive(md) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  .valueCards {
    display: flex;
    flex-direction: column;
    gap: variables.spacing(md);
  }
}
