@import '../../styles/variables.module.scss';

.inputContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: spacing(sm);

  @include responsive(sm) {
    width: 70%;
    margin-right: spacing(sm);
    margin-bottom: 0;
  }

  .input {
    @extend %input-base;
    font-size: font-size(base);
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    @include card;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;

    .dropdownItem {
      @include flex-between;
      padding: spacing(sm);
      cursor: pointer;
      font-size: font-size(base);
      color: text-color(primary);
      
      &:hover { 
        background: bg-color(light); 
      }

      .removeIcon {
        color: color(negative);
        font-weight: bold;
        margin-left: spacing(sm);
      }
    }

    .clearItem {
      text-align: center;
      color: color(primary);
      padding: spacing(sm);
      font-size: font-size(sm);
      cursor: pointer;
      
      &:hover { 
        background: bg-color(light); 
      }
    }
  }
}

.button {
  @extend %button-base;
  background: color(primary);
  color: bg-color(white);
  font-size: font-size(base);
  width: 100%;
  
  @include responsive(sm) {
    width: auto;
  }
  
  &:hover:not(:disabled) { 
    background: color(hover); 
  }
  
  &:disabled { 
    background: color(disabled); 
  }
}