# API Configuration
DEFITUNA_API_URL=https://api.defituna.com/api/v1

# Helius API Configuration
HELIUS_API_KEY=
HELIUS_RPC_URL=https://mainnet.helius-rpc.com

# Donation Configuration
NEXT_PUBLIC_DONATION_WALLET=

# Protocol Fee Configuration
DEFI_TUNA_PROGRAM_ID=TunaWoJVp8t5QEWzDCTxDge8SsVw4YWGzNQrQBYu1yT
PROTOCOL_FEE_RECIPIENT=feeMdgSZqGEbZdxWUBsZ9UXvmX4PmSvLxHoib6cKYEp

# QuickNode Configuration
QUICKNODE_RPC_URL=