@import '../../styles/variables.module.scss';

.toggle {
  @include flex-start;
  gap: spacing(sm);
  cursor: pointer;
  color: text-color(primary);
  font-size: font-size(base);
  user-select: none;
  
  input[type="checkbox"] {
    width: spacing(md);
    height: spacing(md);
    margin: 0;
  }
}