@use '../../styles/variables.module.scss';

.toggle {
  @include variables.flex-start;
  gap: variables.spacing(sm);
  cursor: pointer;
  color: variables.text-color(primary);
  font-size: variables.font-size(base);
  user-select: none;

  input[type='checkbox'] {
    width: variables.spacing(md);
    height: variables.spacing(md);
    margin: 0;
  }
}
